@import 'tailwindcss';

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --color-yellow: #fff9cb;
  --color-pink: #ffb0c4;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-sans);
  background-color: #000;
  color: #fff;
}
